// reset css 

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #11071F;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// style 

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    height: 100px;
	width: 100%;
    background: #1A0B2E;
    box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.1);
	position: fixed;
	z-index: 100;
}

.nav {
	height: 100px;
    display: flex;
    justify-content: space-between;

    &_img {
        display: block;
		align-self: center;
    }

    &_menu {
        width: 450px;
        display: flex;
        justify-content: space-between;
    }

    &_link {
        padding: 0 15px;
        display: block;
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        align-self: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        position: relative;
        transition: 0.4s all;
        z-index: 3;
        &::before {
            content: '';
            display: block;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            border-radius: 5px;
            background-color: rgba(#a362ff, .2);
            position: absolute;
            transition: 0.4s all;
            z-index: -1;
        } 
        &:hover {
            color: #a362ff;
            &::before {
                width: 100%;
            }
        }
    }
}

.profil {
	padding-top: 120px;
    &_inner {
        background: url('../img/profil.png') no-repeat;
        height: 430px;
        padding: 31px 0 0 322px;

    }

    &_bir {
        font-family: 'Preahvihear';
        font-weight: 400;
        font-size: 19px;
        color: #fff;
    }
    &_iki {
        margin-top: 85px;
        margin-left: 25px;
        font-family: 'Preahvihear';
        font-weight: 400;
        font-size: 17px;
        color: #fff;
    }
    &_uc {
        margin-left: 25px;
        line-height: 20px;
        font-family: 'Preahvihear';
        font-weight: 400;
        font-size: 11px;
        color: #fff;

    }
    &_title {
        margin-left: 25px;
        font-family: 'Preahvihear';
        font-weight: 400;
        font-size: 50px;
        color: #fff;
        line-height: 63px;
        position: relative;
        img {
            position: absolute;
            left: 140px;
            bottom: 0;
        }
    }
    span {
        color: #7127BA;    
    }

}

.about {
    margin: 10px;
    &_title {
		font-family: 'Preahvihear';
		font-weight: 400;
		font-size: 50px;
		color: #fff;
    }
	&_social {
		font-family: 'Preahvihear';
		font-weight: 400;
		font-size: 21px;
		line-height: 38px;
		color: #fff;
		margin-top: 7px;
		a {
			color: #1877F2;
			text-decoration: none;
			transition: 0.4s all;
			&:hover {
				color: #fff;
			}
		}
	}
	
	&_text {
		margin-top: 70px;
		font-family: 'Preahvihear';
		font-weight: 400;
		font-size: 22px;
		color: #fff;
		line-height: 40px;
	}

}

.work {
	background: url('../img/gradient.png') center no-repeat;
	height: 640px;
	&_grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 20px;
		&-item {
			position: relative;
			padding: 30px 30px 30px 195px;
			height: 200px;
			border-top: 4px solid #4F228D;
			background: #2C1250;
			box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
			border-radius: 15px;
		}
	}
	&_title {
		padding-top: 90px;
		color: #fff;
		height: 200px;
		font-family: 'Preahvihear';
		font-weight: 400;
		font-size: 40px;
	}
	&_img {
		position: absolute;
		left: 65px;
		top: 50%;
		transform: translateY(-50%);
		
		
	}

	&_subheader {
		margin-bottom: 10px;
		font-family: 'Poppins';
		font-weight: 600;
		font-size: 26px;
		color: #FFFFFF;
	}
	&_descr {
		font-family: 'Poppins';
		font-weight: 300;
		font-size: 12px;
		color: #FFFFFF;
		line-height: 1.4;
	}
	&_btn {
		margin-top: 30px;
		width: 120px;
		height: 35px;
		border-radius: 10px;
		border: 1px solid #693B93;
		cursor: pointer;
		background-color: transparent;
		color: #fff;
		transition: 0.4s all;
		&:hover {
			background-color: #693B93;
		}
	}
}

.design {
	margin-top: 125px;
	&_text {
		margin-bottom: 32px;
		font-family: 'Preahvihear';
		color: #fff;
		font-weight: 400;
		font-size: 24px;
		line-height: 33px;
		text-align: center;
	}
	span {
		color: #A362FF;
	}
	
	&_img {
		display: block;
		margin: 0 auto;
	}
}

.project {
	margin-top: 190px;
	
	&_inner {
		position: relative;
		padding-top: 30px;
		margin-bottom: 150px;
		&-right {
			text-align: right;
		}
	}
	&_h6 {
		margin-bottom: 5px;
		font-family: 'Poppins';
		color: #9857D3;
		font-weight: 600;
		font-size: 16px;

	}
	&_h4 {
		margin-bottom: 30px;
		font-family: 'Poppins';
		color: #CCD6F6;
		font-weight: 600;
		font-size: 34px;

	}
	&_text {
		margin-bottom: 25px;
		width: 670px;
		padding: 30px;
		font-family: 'Poppins';
		color: #CCD6F6;
		line-height: 27px;
		font-weight: 500;
		font-size: 18px;
		background: #2C1250;
		border-radius: 20px;
		&-right {
			margin: 0 0 30px auto;
		}
	}
	&_icon {
		margin-left: 17px;
		&-right {
			margin-left: auto;
			margin-right: 17px;
		}
	}
	&_img {
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		&-right {
			right: auto;
			left: 0;
		}
	}
}

.contact {
	margin: 100px 0 200px 0;
	&_title {
		margin-bottom: 75px;
		font-family: 'Preahvihear';
		color: #fff;
		font-weight: 400;
		font-size: 25px;
	}
	&_text {
		margin-bottom: 20px;
		font-family: 'Preahvihear';
		color: #fff;
		font-weight: 400;
		font-size: 15px;
		line-height: 27px;
	}
	&_link {
		font-family: 'Preahvihear';
		color: #fff;
		font-weight: 400;
		font-size: 15px;
		text-decoration: none;
		transition: 0.4s all;
		&:hover {
			color: #CCD6F6;
		}
	}
	&_icon {
		margin-top: 30px;
		
	}
	&_img  {
		margin-right: 15px;
		transition: 0.4s all;
		padding: 7px;
		&:hover {
			transform: translateY(-5px);
		}	
	}
}
	


